.section {
  display: flex;
  flex-direction: column;
  background-color: $logoColor;
  padding: 45px 0;
}

.formSection {
  display: flex;
  width: 100%;
  background-color: $logoColor;
  padding: 45px 0;
}

.section__inner {
  @include container;
  @include for-tablet-down {
    padding: 0 2rem;
  }
}

.section__heading {
  margin-top: 0px;
  font-family: $loraFont;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 46px;
  margin-bottom: 20px;
}

.section__heading--centered {
  text-align: center;
}

.section__categories {
  @include unset;
  display: flex;
  gap: 20px;
}

.section__category {
  @include unset;
}

.section__category--last {
  margin-left: auto;
}

.section__categoryLink {
  font-family: $loraFont;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  text-decoration: none;
  transition: 0.5s all;
  text-transform: capitalize;

  &:hover {
    color: $primaryColor;
  }
}

.section__categoryLink--active {
  color: $primaryColor;
}

.section__info {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 25px;
  padding: 30px;
  border-top: 2px solid #d4a373;
  border-bottom: 2px solid #d4a373;
}

.section__info-item {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

.section__followers-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.section__followers-item {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  transition: 0.7s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.section__followers-item--img {
  border-radius: 50%;
  max-width: 100px;
  max-height: auto;
}

.section__followers-item--name {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  transition: 0.8s;

  &:hover {
    color: $primaryColor;
  }
}

.section__button-wrapper {
  max-width: 300px;
  width: 100%;
}

.section__button-follow {
  margin-top: 30px;
}
