.article__authorContainer {
  display: flex;
  align-items: center;
  margin: 15px;
}

.article__authorImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.article__authorHeading {
  @include unset;
  display: block;
  font-family: $loraFont;
  font-size: 0.875rem;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 10px;
}

.article__authorRole {
  @include unset;
  display: block;
  font-family: $loraFont;
  font-size: 0.875rem;
  color: #6c757d;
}
