.articleCategory__list {
    display: flex;
    padding-left: 0;
}

.articleCategory__list--articleCard {
    position: absolute;
    right: 20px;
    z-index: 2;
}

.articleCategory__item {
    list-style: none;
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}

.articleCategory__itemLink {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 8px;
    font-family: $robotoFont;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 12px;
    color: $white;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

.articleCategory__list--articleShow {
    margin-top: 50px;

    .articleCategory__itemLink {
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        background-color: $white;
        color: #6c757d;
    }
}

