.manageArticle {
  background-color: $logoColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.manageArticle__inner {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.manageArticleForm {
  width: 100%;
  height: auto;
}

.manageArticleForm__inner {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

.manageArticleForm__formGroup {
  width: 100%;
  height: auto;
}
