@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

html {
    background-color: #3e3e3e;
    font-size: 14px;
}

body {
    margin: 0;
}
